* {
  font-family: Helvetica;
  text-align: center;
} /* Universal selector for entire page. font will be Verdana based on mock for all content and centered alignment */

.top {
  background-image: url("resources/images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a {
  font-size: 18px;
  color: white;
}
