/*  CODECADEMY:   Building Websites From Scratch
    UNIT:         03. Git and Github
    PROJECT:      Broadway Design Project
    DESCRIPTION:  A website to promote a travel mobile app.
    NOTES:
      * A background-image not visible using relative file path.
*/
* {
  font-family: Helvetica;
  text-align: center;
} /* Universal selector for entire page. font will be Verdana based on mock for all content and centered alignment */

#top {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/mocks/broadway.png);
  background-color: transparent;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a {
  font-size: 18px;
  color: white;
}
