* {
  font-family: Helvetica;
  text-align: center;
} /* Universal selector for entire page. font will be Verdana based on mock for all content and centered alignment */

.h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  background-image: url("resources/images/
}

a {
  font-size: 18px;
  color: white;
}
